.tab {
    .tab-head {
        font-size: 0;
        li {
            display: inline-block;
            transition: all 0.5s ease;
            a {
                background-color: $white;
                font-size: 16px;
                font-weight: 600;
                color: #8D8D8D;
                display: inline-block;
                padding: 10px 30px;
                border: 1px solid #DFDFDF;
                border-bottom: 3px solid #DFDFDF;
                &:hover {
                    text-decoration: none;
                }
            }
            &.active {
                position: relative;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                z-index: 2;
                a {
                    border: 1px solid #fff;
                    border-bottom: 3px solid $red;
                    color: $red;
                }
            }
        }
    }
    .tab-body {
        li {
            background-color: $white;
            padding: 20px;
            display: none;
            &.active {
                display: block;
                border: 1px solid $red;
            }
        }
    }
}